html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-size: 1.6rem;
  text-align: center;
}
.time {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.available {
  background-color: green;
  color: white;
}
.reserved {
  background-color: orange;
  color: white;
}
.schedule {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.warning {
  background-color: yellow;
  border: thin solid red;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
}
.staff {
}
